/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   background-color: #FAFAFA;
   overflow-y: scroll;
 }

.nav {
  position: fixed;
  background-color: #FFFFFF;
  height: 50px;
  width: 100vw;
  box-shadow: 0px -5px 20px #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-component {
    height: 8vh;
    width: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #999999;
      font-size: 20px;
    }

    img {
      width: 40px;
      border-radius: 50px;
    }

    a {
      margin: 0px 10px;
      color: #999999;

      &:hover {
        color: #606060;
      }
    }
  }
}

.streams {
  padding-top: 50px;
  margin: 0px 20px;

  h1 {
    padding: 20px 0px;;
  }
}

.stream-list {
  display: flex;
  margin-bottom: 20px;

  .each-stream {
    flex: 1;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }

    img {
      width: 100%;
    }
  }
}

.log-in {
  padding-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 35px;
  }

  a {
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    background: #FF0000;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
  }
}
