/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   background-color: #FAFAFA;
   overflow-y: scroll;
 }

.nav {
  z-index: 9999;
  position: fixed;
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  box-shadow: 0px -5px 20px #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-component {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #999999;
      font-size: 20px;
    }

    img {
      width: 40px;
      border-radius: 50px;
    }

    a {
      margin-right: 10px;
      color: #999999;

      &:hover {
        color: #606060;
      }
    }
  }

  .left {
    margin-left: 20px;
  }

  .right {
    margin-right: 20px;
  }
}

.streams {
  padding-top: 50px;
  margin: 0px 20px;

  h1 {
    padding: 20px 0px;;
  }
}

.divider {
  border-bottom: 1px solid #999999;
}

.top_streams {
  position: relative;
  ::-webkit-scrollbar {
      display: none;
  }

  .scrollButton {
    position: absolute;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00000099;
    color: #FFFFFF99;
    padding: 10px 10px 15px 10px;
    margin: 5px 5px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      background-color: #FFFFFF99;
      color: #00000099;
    }
  }

  .left {
    top: 50px;
    left: 10px;
  }

  .right {
    top: 50px;
    right: 10px;
  }
}

.stream-list {
  display: flex;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: overlay;
  transition: 1s;
  scroll-behavior: smooth;

  .each-stream {
    position: relative;
    min-width: 300px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }

    img {
      width: 100%;
    }
  }
}

.current-stream {
  margin: 20px 0px;

  .title {
    margin: 10px;
    margin-left: calc((10vw - 77px) / 2);
    margin-right: calc(((10vw - 77px) / 2) + (30vw + 20px));
    font-weight: 700;
  }

  .stream-details {
    margin-top: 10px;
    margin-left: calc((10vw - 77px) / 2);
    margin-right: calc(((10vw - 77px) / 2) + (30vw + 20px));
    margin-bottom: 20px;
    color: #999999;
    display: flex;
    justify-content: space-between;
  }

  .video {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    iframe {
      width: 60vw;
      height: calc(60vw * 360 / 640);
    }

    .messages {
      width: 30vw;
      height: calc(60vw * 360 / 640);
      margin-left: 20px;
      background: #FFFFFF;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      border: 1px solid #99999950;

      .message-box {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;

        .chat-img {
          width: 40px;
          border-radius: 50px;
          margin-right: 10px;
        }

        .message {
          max-width: calc(100% - 50px);
          font-size: 14px;
          word-wrap: break-word;

          .author {
            color: #999999;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.log-in {
  padding-top: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 35px;
  }

  a {
    font-size: 35px;
    color: #FFFFFF;
    background: #FF0000;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 15px;
  }
}

.search-button {
  width: 150px;
  height: 30px;
  position: absolute;
  right: calc(5vw - 17px);
  margin-top: 35px;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}

.user-search {
  z-index: 50;
  opacity: 0;
  width: 30vw;
  height: calc(60vw * 360 / 640);
  position: absolute;
  background-color: #FFFFFF;
  transition: opacity .5s linear;
}

.show {
  opacity: 1;
}
