/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Background, splash, UI
 html {
   background-color: #FAFAFA;
   overflow-y: scroll;
 }

 .streams {
   padding-top: 50px;
   margin: 0px 20px;

   h1 {
     padding: 20px 0px;;
   }
 }

 .log-in {
   padding-top: 15vh;
   display: flex;
   align-items: center;
   flex-direction: column;

   h1 {
     font-size: 35px;
   }

   a {
     font-size: 35px;
     color: #FFFFFF;
     background: #FF0000;
     padding: 15px 20px;
     margin: 10px;
     border-radius: 15px;
   }
 }

 .divider {
   border-bottom: 1px solid #999999;
 }

 // Navbar
.nav {
  z-index: 9999;
  position: fixed;
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  box-shadow: 0px -5px 20px #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-component {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #999999;
      font-size: 20px;
    }

    img {
      width: 40px;
      border-radius: 50px;
    }

    a {
      margin-right: 10px;
      color: #999999;

      &:hover {
        color: #606060;
      }
    }
  }

  .left {
    margin-left: 20px;
  }

  .right {
    margin-right: 20px;
  }
}

// Top Streams Menu
.top-streams {
  position: relative;
  ::-webkit-scrollbar {
      display: none;
  }

  .scrollButton {
    position: absolute;
    z-index: 99;
    border: none;
    background-color: #FFFFFF;
    color: #999999;
    width: 45px;
    height: 45px;
    margin: 5px 5px;
    border-radius: 50px;
    font-size: 15px;
    box-shadow: 0px 0px 3px #000000;

    &:hover {
      box-shadow: 0px 0px 10px #000000;
    }
  }

  .left {
    top: 50px;
    left: -20px;
  }

  .right {
    top: 50px;
    right: -20px;
  }
}

.stream-list {
  display: flex;
  margin-bottom: 20px;
  overflow-y: hidden;
  overflow-x: overlay;
  transition: 1s;
  scroll-behavior: smooth;

  .each-stream {
    position: relative;
    min-width: 300px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }

    p {
      margin-top: 5px;
    }

    img {
      width: 100%;
    }
  }
}

// Current Video and Chat
.current-stream {
  margin: 20px 0px;

  .video {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    iframe {
      width: 60vw;
      height: calc(60vw * 360 / 640);
      margin-right: 20px;
    }

    .messages {
      width: 30vw;
      height: calc(60vw * 360 / 640);
      background: #FFFFFF;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column-reverse;
      border: 1px solid #99999950;
    }
  }
}

.message-box {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;

  .chat-img {
    width: 40px;
    border-radius: 50px;
    margin-right: 10px;
  }

  .message {
    max-width: calc(100% - 50px);
    font-size: 14px;
    word-wrap: break-word;

    .author {
      color: #999999;
      margin-right: 10px;
    }
  }
}

.below-stream {
  margin: 20px 0px;
  display: flex;
  justify-content: center;


  .stream-information {
    width: 60vw;
    margin-right: 20px;

    .title {
      font-weight: 700;
    }

    .stream-details {
      margin-top: 10px;
      color: #999999;
      display: flex;
      justify-content: space-between;
    }
  }

  .search-button {
    width: 30vw;

    .toggle-search {
      float: right;
      width: 125px;
      height: 30px;
      border-radius: 0;
      background-color: transparent;
    }
  }
}

// Search Menu
.user-search {
  opacity: 0;
  z-index: -1;
  width: 30vw;
  height: calc(60vw * 360 / 640);
  position: absolute;
  border: 1px solid #99999950;
  background-color: #FFFFFF;
  transition: .5s linear;

  .close-search {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-color: transparent;
    color: #999999;
  }

  .search-results {
    height: calc(60vw * 360 / 640 - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
  }

  .search-input {
    height: 30px;
    display: flex;

    .search-query {
      width: 80%;
      padding: 0px 5px;
    }

    .search-submit {
      width: 20%;
      background-color: transparent;
    }
  }
}

.show {
  opacity: 1;
  z-index: 50;
}
